node_modules
lib
dist
.nuxt
playground/.nuxt
playground/.output
graphql/translations.graphql
playground/translations.graphql
playground/fragment.easyTexts.graphql
playground/texts.json
playground/texts.txt
